<a href="https://colab.research.google.com/github/Diwakar-Gupta/Data-Science-APRIL/blob/main/Getting_Started_April_Batch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notes -> https://1drv.ms/o/s!AmSu_rSXl5m3i0Pm8zsnFmpuqowO

Getting Started with python



*   IO
    *  Data Type
*   Conditions
    *  if else
    *  if elif else
*   Loop
*   Functions
*   String
*   List
*   Set
*   Tuple
*   Map
*   Class Object

# IO

In [1]:
print('hello Peppy')

hello Peppy

Problem -> https://nados.io/question/print-z?zen=true

In [ ]:
x=5
# x=7
ans = x*x
print(ans)

25

Problem -> https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=false

In [ ]:
a=3
b=2
print(a/b) # 3/2
print(a//b)

1.5
1

In [2]:
a = input() # input from keyboard in string format
print('Hii ' + a)

DIwakar
Hii DIwakar

In [5]:
a=123
b=12.345
c='Hii bye my number is 1234566 #%&* '
d = 2==3 # False

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

variable name can only contains 

*   digit
*   alphabet
*   _

name cannot start with digit

In [ ]:
_abc34 = 89
print(_abc34)

89

# run os commands

In [ ]:
! cat ./sample_data/README.md

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# Conditions

In [8]:
age = 12

if age <= 18:
    print('Balik')
    print('Baccha hai')
else:
    print('Na Balik')
    print('Baccha nii h')


print('outside if block')

Balik
Baccha hai
outside if block

## Nested If Else

In [ ]:
age = 17

if age <= 18:
    print('Baccha hai')
else:
    if age<=50:
      print('Jawan hai')
    else:
      print('Old man')


print('outside if block')

Baccha hai
outside if block

## ELIF

In [ ]:
age = 23

if age <= 18:
    print('Baccha hai')
elif age <= 50:
    print('Jawan hai')
else:
    print('else')

print('outside if block')

Jawan hai
outside if block

problem -> https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=false

# Loop

`range(start, stop, step)`
*  start : included
*  stop : excluded
*  step : step size

Create Ways
*  range(3)          [0, 3)
*  range(2, 7)       [2, 7)
*  range(2, 7, 3)    [2, 7) +3 2,5

In [85]:
for i in range(2, 8):
  print(i)

2
3
4
5
6
7

In [26]:
for i in range(2, 12, 3):
  print(i)

2
5
8
11

In [27]:
for i in range(7, 2, -1):
  print("Hello", i)

Hello 7
Hello 6
Hello 5
Hello 4
Hello 3

In [13]:
for i in range(5):
  print('hello')

hello
hello
hello
hello
hello

Problem : https://www.hackerrank.com/challenges/python-loops/problem?isFullScreen=false

In [82]:
# convert string to int/float

a = input() # input in string format 
a = float(a)
print(type(a), a+2)

23.8
<class 'float'> 25.8

In [35]:
n = 5

for i in range(n):
  print(i*i)

0
1
4
9
16

# Function

### Factorial

Why??
*  Code re-use
*  easy debugging

Usage
*  function call is replaced by returned value
*  Default values  `def add(a, b, c=0, d=0)`
*  PassByName  `add(1, 3, d=9, c=3)`

In [40]:
n = 4
r = 2

nf = 1 # 1*2*3*4*.....*n
for i in range(1, n+1):
  nf = nf*i

rf = 1
for i in range(1, r+1):
  # rf = rf*i
  rf *= i

nmrf = 1
for i in range(1, n-r+1):
  nmrf *= i


print(nf/(rf*nmrf))

6.0

In [43]:
n = 4
r = 2

def fact(x):
  ans = 1
  for i in range(1, x+1):
    ans *= i
  return ans

nf = fact(n)
rf = fact(r)
nmrf = fact(n-r)

print(nf/(rf*nmrf))

6.0

In [44]:
def fun5():
  return 2

print(10-fun5())

8

Problem: https://nados.io/question/digit-frequency?zen=true

Learn

while

In [46]:
def prnt():
  print('Hello Peppy')

prnt()
prnt()
prnt()

Hello Peppy
Hello Peppy
Hello Peppy

## add 2 numbers

In [55]:
def add(a, b):
  return a+b

ans = add(2,5)
print(ans)

ans = add('hii','bye')
print(ans)

7
hiibye

In [80]:
def add(a, b, c=0, d=1):
  print('a:', a)
  print('b:', b)
  print('c:', c)
  print('d:', d)
  
  return (a+b+c)*d

ans = add(3, 1, d=2, c=4)
print(ans)

a: 3
b: 1
c: 4
d: 2
16

In [53]:
'abc' + 'def'

'abcdef'

# String



*   Escape Character
    *   `\' \" \t \\`
*   strip

In [91]:
s = 'my name is diwakar, my email is diwakargupta815@'
s = "my name ' is diwakar, my email is diwakargupta815@"
s = ''' my name ' " is diwakar 12344254 @#$%% '''
print(s)

 my name ' " is diwakar 12344254 @#$%%

In [106]:
# Escape character

s = ' my name \' \\ is diwakar 12344254 @#$%% '
print(s)

 my name ' \ is diwakar 12344254 @#$%%

In [107]:
print('nitin \t\t123')
print('prince \t\t765')
print('shivam \t\t8969')
print('radhika \t\t3456')

nitin 		123
prince 		765
shivam 		8969
radhika 		3456

In [111]:
s.strip() # removes starting/ending white spaces

"my name ' \\ is diwakar 12344254 @#$%%"

In [117]:
print(s.upper())
print(s.lower())

 MY NAME ' \ IS DIWAKAR 12344254 @#$%%
 my name ' \ is diwakar 12344254 @#$%%

## Indexing

In [116]:
print(s)
print(s[1], s[0], s[-2])

 my name ' \ is diwakar 12344254 @#$%%
m   %