<a href="https://colab.research.google.com/github/Diwakar-Gupta/Data-Science-APRIL/blob/main/22-04-16-Getting_Started/Getting_Started_April_Batch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Codes -> https://github.com/Diwakar-Gupta/Data-Science-APRIL

Notes -> https://1drv.ms/o/s!AmSu_rSXl5m3i0Pm8zsnFmpuqowO

# Contents

Getting Started with python



*   IO
*   Conditions
*   Loop
*   Functions
*   String
*   List
*   Tuple
*   Set
*   Map
*   Class Object

# IO

*  Variables
*  Data Types
*  input from keyboard

In [36]:
print('hello Peppy')

hello Peppy

Problem -> https://nados.io/question/print-z?zen=true

In [37]:
x=5
# x=7
ans = x*x
print(ans)

25

Problem -> https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=false

In [38]:
a=3
b=2
print(a/b) # 3/2
print(a//b)

1.5
1

In [39]:
a = input() # input from keyboard in string format
print('Hii ' + a)

w
Hii w

In [40]:
a=123
b=12.345
c='Hii bye my number is 1234566 #%&* '
d = 2==3 # False

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

variable name can only contains 

*   digit
*   alphabet
*   _

name cannot start with digit

In [ ]:
_abc34 = 89
print(_abc34)

89

# run os commands

In [ ]:
! cat ./sample_data/README.md

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# Conditions

*  if else
*  if elif else

In [ ]:
age = 12

if age <= 18:
    print('Balik')
    print('Baccha hai')
else:
    print('Na Balik')
    print('Baccha nii h')


print('outside if block')

Balik
Baccha hai
outside if block

## Nested If Else

In [ ]:
age = 17

if age <= 18:
    print('Baccha hai')
else:
    if age<=50:
      print('Jawan hai')
    else:
      print('Old man')


print('outside if block')

Baccha hai
outside if block

## ELIF

In [ ]:
age = 23

if age <= 18:
    print('Baccha hai')
elif age <= 50:
    print('Jawan hai')
else:
    print('else')

print('outside if block')

Jawan hai
outside if block

problem -> https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=false

# Loop

`range(start, stop, step)`
*  start : included
*  stop : excluded
*  step : step size

Create Ways
*  range(3)          [0, 3)
*  range(2, 7)       [2, 7)
*  range(2, 7, 3)    [2, 7) +3 2,5
*  continue
*  break

In [ ]:
for i in range(2, 8):
  print(i)

2
3
4
5
6
7

In [ ]:
for i in range(2, 12, 3):
  print(i)

2
5
8
11

In [ ]:
for i in range(7, 2, -1):
  print("Hello", i)

Hello 7
Hello 6
Hello 5
Hello 4
Hello 3

In [ ]:
for i in range(5):
  print('hello')

hello
hello
hello
hello
hello

Problem : https://www.hackerrank.com/challenges/python-loops/problem?isFullScreen=false

In [ ]:
# convert string to int/float

a = input() # input in string format 
a = float(a)
print(type(a), a+2)

23.8
<class 'float'> 25.8

In [ ]:
n = 5

for i in range(n):
  print(i*i)

0
1
4
9
16

# Function

### Factorial

Why??
*  Code re-use
*  easy debugging

Usage
*  function call is replaced by returned value
*  Default values  `def add(a, b, c=0, d=0)`
*  PassByName  `add(1, 3, d=9, c=3)`

In [ ]:
n = 4
r = 2

nf = 1 # 1*2*3*4*.....*n
for i in range(1, n+1):
  nf = nf*i

rf = 1
for i in range(1, r+1):
  # rf = rf*i
  rf *= i

nmrf = 1
for i in range(1, n-r+1):
  nmrf *= i


print(nf/(rf*nmrf))

6.0

In [ ]:
n = 4
r = 2

def fact(x):
  ans = 1
  for i in range(1, x+1):
    ans *= i
  return ans

nf = fact(n)
rf = fact(r)
nmrf = fact(n-r)

print(nf/(rf*nmrf))

6.0

In [ ]:
def fun5():
  return 2

print(10-fun5())

8

Problem: https://nados.io/question/digit-frequency?zen=true

Learn

while

In [ ]:
def prnt():
  print('Hello Peppy')

prnt()
prnt()
prnt()

Hello Peppy
Hello Peppy
Hello Peppy

## add 2 numbers

In [ ]:
def add(a, b):
  return a+b

ans = add(2,5)
print(ans)

ans = add('hii','bye')
print(ans)

7
hiibye

In [ ]:
def add(a, b, c=0, d=1):
  print('a:', a)
  print('b:', b)
  print('c:', c)
  print('d:', d)
  
  return (a+b+c)*d

ans = add(3, 1, d=2, c=4)
print(ans)

a: 3
b: 1
c: 4
d: 2
16

In [ ]:
'abc' + 'def'

'abcdef'

# String



*   Escape Character
    *   `\' \" \t \\`
*   strip
*   `'Hii {}'.format(variable)`
*   `f'Hii {variable}'`

In [ ]:
s = 'my name is diwakar, my email is diwakargupta815@'
s = "my name ' is diwakar, my email is diwakargupta815@"
s = ''' my name ' " is diwakar 12344254 @#$%% '''
print(s)

 my name ' " is diwakar 12344254 @#$%%

In [ ]:
# Escape character

s = ' my name \' \\ is diwakar 12344254 @#$%% '
print(s)

 my name ' \ is diwakar 12344254 @#$%%

In [ ]:
print('nitin \t\t123')
print('prince \t\t765')
print('shivam \t\t8969')
print('radhika \t\t3456')

nitin 		123
prince 		765
shivam 		8969
radhika 		3456

In [ ]:
s.strip() # removes starting/ending white spaces

"my name ' \\ is diwakar 12344254 @#$%%"

In [ ]:
print(s.upper())
print(s.lower())

 MY NAME ' \ IS DIWAKAR 12344254 @#$%%
 my name ' \ is diwakar 12344254 @#$%%

## Indexing

In [ ]:
s = 'abcd'
print(s, len(s))

for i in range(0, len(s)):
  print(i, s[i])

abcd 4
0 a
1 b
2 c
3 d

In [ ]:
for c in s:
  print(c)

a
b
c
d

# List

*  append
*  extend : `[1,2,3] + [4,5,6] = [1,2,3,4,5,6]`
*  Indexing
*  Slicing
*  `[1, *[2, 3], 4, 5]`
*  `'Harsh' in class_list`
*   `class_list.index('mantraksha')`

"Ayaan",
"chaitanya",
"Dhairya",
"Divyansh",
"Shraiya",
"Nidhi",
"gokul",
"Harsh",
"Harshit",
"Himanshu",
"Nidhi",
"Nusrat",
"prince",
"Radhika",
"Vedant",
"Harshit",
"Divyansh",
"mantraksha",

In [ ]:
l = ['Ayaan', '''chaitanya''', "Dhairya", 123, True, False, 45.908]

for name in l:
    # print(name + ' Good Evening') # Gives Error
    print('Hii', name , 'Good Evening')  
    # print(f'Hii {name} Good Evening')

Hii Ayaan Good Evening
Hii chaitanya Good Evening
Hii Dhairya Good Evening
Hii 123 Good Evening
Hii True Good Evening
Hii False Good Evening
Hii 45.908 Good Evening

In [ ]:
name1 = 'Ayaan'
name2 = 'Gokul'
# s = 'Good Evening '+name1+' and '+name2
# s = 'Good Evening {}, {}'.format(name1, name2)
s = f'Good Evening {name1} and {name2}'
print(s)

Good Evening Ayaan and Gokul

In [ ]:
class_students = ["Ayaan",
"chaitanya",
"Dhairya",
"Divyansh",
"Shraiya",
"Nidhi",
"gokul",
"Mantraksha"
"Harsh",
"Harshit",
"Himanshu",
"nidhi",
"Nusrat",
"prince",
"Radhika",
"Vedant",
"Harshit",
"Divyansh",
"mantraksha",]

Append late joiners to class list

In [ ]:
class_students.append('Vaibhav')
class_students.append('Vidushi')
class_students.append('jonathan')
class_students

['Ayaan',
 'chaitanya',
 'Dhairya',
 'Divyansh',
 'Shraiya',
 'Nidhi',
 'gokul',
 'Harsh',
 'Harshit',
 'Himanshu',
 'Nidhi',
 'Nusrat',
 'prince',
 'Radhika',
 'Vedant',
 'Harshit',
 'Divyansh',
 'mantraksha',
 'Vaibhav',
 'Vidushi',
 'jonathan']

In [ ]:
l1 = [1,2,3, 'hii', 'hello']
l2 = [4, 5, 6]
l3 = l1+l2
print(l3)

[1, 2, 3, 'hii', 'hello', 4, 5, 6]

In [ ]:
for name in class_students:
    print(f"Hii {name}")

Hii Ayaan
Hii chaitanya
Hii Dhairya
Hii Divyansh
Hii Shraiya
Hii Nidhi
Hii gokul
Hii Harsh
Hii Harshit
Hii Himanshu
Hii Nidhi
Hii Nusrat
Hii prince
Hii Radhika
Hii Vedant
Hii Harshit
Hii Divyansh
Hii mantraksha
Hii Vaibhav
Hii Vidushi
Hii jonathan

In [ ]:
import time

income_tax_officer = 'Ajay'

for name in class_students:
    print(f'{income_tax_officer} is preparing to raid {name} house')
    time.sleep(2)

    if name == 'Dhairya':
        # skip remaining part of loop and proceed to next iteration
        continue # ghus dena to Ajay

    print(f'{income_tax_officer} found black money in  {name} house')
    time.sleep(2)

Ajay is preparing to raid Ayaan house
Ajay found black money in  Ayaan house
Ajay is preparing to raid chaitanya house
Ajay found black money in  chaitanya house
Ajay is preparing to raid Dhairya house
Ajay is preparing to raid Divyansh house
Ajay found black money in  Divyansh house
Ajay is preparing to raid Shraiya house
Ajay found black money in  Shraiya house
Ajay is preparing to raid Nidhi house
Ajay found black money in  Nidhi house
Ajay is preparing to raid gokul house
Ajay found black money in  gokul house
Ajay is preparing to raid Harsh house
Ajay found black money in  Harsh house
Ajay is preparing to raid Harshit house
Ajay found black money in  Harshit house
Ajay is preparing to raid Himanshu house
Ajay found black money in  Himanshu house
Ajay is preparing to raid Nidhi house
Ajay found black money in  Nidhi house
Ajay is preparing to raid Nusrat house
Ajay found black money in  Nusrat house
Ajay is preparing to raid prince house
Ajay found black money in  prince house
Ajay is preparing to raid Radhika house
Ajay found black money in  Radhika house
Ajay is preparing to raid Vedant house
Ajay found black money in  Vedant house
Ajay is preparing to raid Harshit house
Ajay found black money in  Harshit house
Ajay is preparing to raid Divyansh house
Ajay found black money in  Divyansh house
Ajay is preparing to raid mantraksha house
Ajay found black money in  mantraksha house
Ajay is preparing to raid Vaibhav house
Ajay found black money in  Vaibhav house
Ajay is preparing to raid Vidushi house
Ajay found black money in  Vidushi house
Ajay is preparing to raid jonathan house
Ajay found black money in  jonathan house

In [ ]:
import time

income_tax_officer = 'Ajay'

for name in class_students:
    print(f'{income_tax_officer} is preparing to raid {name} house')
    time.sleep(2)

    if name == 'Dhairya':
        # terminates loop
        break # ghus dena to Ajay

    print(f'{income_tax_officer} found black money in  {name} house')
    time.sleep(2)

Ajay is preparing to raid Ayaan house
Ajay found black money in  Ayaan house
Ajay is preparing to raid chaitanya house
Ajay found black money in  chaitanya house
Ajay is preparing to raid Dhairya house

## Question 1

print all even squares from 0 to n-1

Hint: %, modify range

In [ ]:
n = 10
for i in range(n):
  if i % 2 == 1:
    # odd
    continue
  print(i*i)


for i in range(0, n, 2):
  print(i*i)

1
9
25
49
81

## Indexing

In [ ]:
#     -6   -5  -4   -3   -2    -1   
#     0    1    2    3    4    5
l = ['a', 123, 'c', 'd', 44, 'f']

print(f'{l[1]} + {l[-2]} = {l[1]+l[4]}')
print(l[0], l[-6])
print(f'Length of list = {len(l)}')

123 + 44 = 167
a a
Length of list = 6

In [ ]:
l = list(range(20, 30))

print(l)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

## Slicing

In [ ]:
l = list(range(3, 9))
print('l=', l)
l2 = l[1:4]
print(f'l[1:4] = {l2}')

print(f'l[1:-2] = {l[1:-2]}')

print(f'l[1:-1:2] = {l[1:-1:2]}')

l= [3, 4, 5, 6, 7, 8]
l[1:4] = [4, 5, 6]
l[1:-2] = [4, 5, 6]
l[1:-1:2] = [4, 6]

In [ ]:
l[-1:1:-1]

[8, 7, 6, 5]

**Question reverse list using slicing**

In [ ]:
print(l)
print(l[1:]) # no stoping point, no ending
print(l[:4])
print(l[:])
print(l[::2]) # start end
print(l[::-1]) # start and end are toggled

[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]
[3, 4, 5, 6]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]
[8, 7, 6, 5, 4, 3]

Questions



1.   https://nados.io/question/reverse-an-array?zen=true
2.   https://nados.io/question/subarray-problem?zen=true

In [ ]:
l = [1,2,4]

print(l)
print(1, 2, 3)
print(*l)

[1, 2, 4]
1 2 3
1 2 4

In [ ]:
l = [1,2,3,4, *[5,6,7]]

for i in range(len(l)):
  print(l[i])

1
2
3
4
5
6
7

In [ ]:
l1 = [2,3,4]
l2 = [1, *l1, 5,6,7]
print(l2)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
class_students = ["Ayaan",
"chaitanya",
"Dhairya",
"Divyansh",
"Shraiya",
"Nidhi",
"gokul",
"Harsh",
"Harshit",
"Himanshu",
"Nidhi",
"Nusrat",
"prince",
"Radhika",
"Vedant",
"Harshit",
"Divyansh",
"mantraksha",]

res = "Harshit" in class_students
print(res)

ind = class_students.index("mantraksha")
print(ind, class_students[17])

True
17 mantraksha

# Tuple

*   Immutable list
*   `t = (1,2,3)`
*   `t = (1,)` comma is necessary

In [ ]:
l = ['a', 'b', 'd', 'd']
print(l)
l[2] = 'c'
print(l)

l.append('e')
print(l)

['a', 'b', 'd', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [1]:
l = [1,2,3]
t = tuple(l)

print(t)

(1, 2, 3)

In [ ]:
t = (1,2,3)
print(type(t), t)

print(t[0], t[1], t[2])
# t[0] = 10      # error
# t.append(10)   # error
print(t)

<class 'tuple'> (1, 2, 3)
1 2 3
(1, 2, 3)

In [ ]:
t = ('abcd',) # if single element then , is necessary
t = 8

print(type(t), t)

<class 'tuple'> ('abcd',)

In [ ]:
age, first_name, last_name = (22, 'Diwakar', 'Gupta')
print(age)

22

In [ ]:
t = (1, 2, [3, 'a', 'b'], 4 ,5)
print(t)

t[2].append('c')

print(t)

(1, 2, [3, 'a', 'b'], 4, 5)
(1, 2, [3, 'a', 'b', 'c'], 4, 5)

In [ ]:
l = [1, *[2,3], 4] # = [1, 2,3, 4]

for i in range(len(l)):
  print(i, l[i])

0 1
1 2
2 3
3 4

In [ ]:
def add(a, b, c):
  return a+b+c

print(add(2, 3, 4))

l = [1,2,3]
print(add(*l)) # = add(l[0], l[1], l[2])

9
6

In [ ]:
# immutable

days = ['sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat']
days = tuple(days)

print(type(days), days)

<class 'tuple'> ('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')

# Set

list without duplicates



1.   Set does not preserve insertion order
2.   List item

*  `s = set()` # create empty set
*  add
*  remove
*  union
*  intersection
*  difference
*  `'value' in set`

In [7]:
class_students = [
"anubhav",
"Ayaan",
"chaitanya",
"Dhairya",
"Divyansh",
"Shraiya",
"Nidhi",
"gokul",
"Mantraksha",
"Harsh",
"Harshit",
"Harshit",
"Himanshu",
"nidhi",
"Nusrat",
"prince",
"Radhika",
"Vedant",
"Harshit",
"Divyansh",
"mantraksha",]

In [8]:
print(len(class_students))

21

In [14]:
total_student_withoutcase = set(class_students)
print(f'Total number of unique strings {len(total_student_withoutcase)}')
print(s)

Total number of unique strings 18
{'chaitanya', 'anubhav', 'Shraiya', 'Himanshu', 'Vedant', 'Mantraksha', 'Divyansh', 'Harshit', 'Nusrat', 'gokul', 'nidhi', 'prince', 'mantraksha', 'Nidhi', 'Harsh', 'Radhika', 'Dhairya', 'Ayaan'}

In [18]:
total_student_case = []

for name in class_students:
  total_student_case.append(name.lower())

s = set(total_student_case)
print(len(s))

16

In [21]:
total_student_case = set()

for name in class_students:
  total_student_case.add(name.lower())

print(len(total_student_case))
print(total_student_case)

16
{'chaitanya', 'anubhav', 'harshit', 'vedant', 'harsh', 'prince', 'nidhi', 'gokul', 'mantraksha', 'dhairya', 'shraiya', 'nusrat', 'divyansh', 'ayaan', 'himanshu', 'radhika'}

In [44]:
s = set()
s.add(2)
print(s)
s.add(1)
print(s)
s.add(2)
print(s)
s.add(3)
print(s)
s.add('hii')
print(s)

{2}
{1, 2}
{1, 2}
{1, 2, 3}
{1, 2, 3, 'hii'}

In [55]:
s = {'Diwakar', 'diwakar'}
print(s)
s.remove('diwakar')
print(s)

print('Diwakar' in s)

{'diwakar', 'Diwakar'}
{'Diwakar'}
True

In [52]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [67]:
s1 = {1,2,3,4}
s2 = {2,4,5,6,7,8}

print(s1.union(s2))
print(s1.intersection(s2))
print(s2 - s1)

{1, 2, 3, 4, 5, 6, 7, 8}
{2, 4}
{8, 5, 6, 7}

Question: https://www.hackerrank.com/challenges/py-set-add/problem?isFullScreen=true

In [ ]:
n = int(input())

s = set()
for i in range(n):
    name = input()
    s.add(name)

print(len(s))

# Dictionary / Map

in other languages this is called `hashmap`

key, value pair

In [88]:
# student -> phone number

d = {
    'Gokul': 12345,
    'Dhairya': 3456,
    789: '890'
}

print(d)
print(d['Gokul'])
print('Diwakar' in d)

{'Gokul': 12345, 'Dhairya': 3456, 789: '890'}
12345
False

In [83]:
capital = {
    'India': 'Delhi',
    'CG': 'RAIPUR'
}
print(capital)
populations = {
    'India': 110,
    'Bangla': 32,
}
print(populations)
print(populations['India'])
print(populations.get('India'))
populations['India'] = 100
print(populations['India'])

{'India': 'Delhi', 'CG': 'RAIPUR'}
{'India': 110, 'Bangla': 32}
110
110
100

In [84]:
print('UK' in populations)
populations['UK'] = 55
print('UK' in populations)

False
True

In [85]:
print(populations)
print(populations.keys())
print(populations.values())

{'India': 100, 'Bangla': 32, 'UK': 55}
dict_keys(['India', 'Bangla', 'UK'])
dict_values([100, 32, 55])

# Class / Object

In [ ]:
class MediaPlayer:
    def playSong():
        #

    def pauseSOng():
        #

class Person:
    def sayHii():
        #

In [103]:
class Person:

    def __init__(self, n='Diwakar', a=22):
        self.name = n
        self.age = a

    def sayHii(self):
        print(self.name, self.age)

p1 = Person('Diwakar')
p2 = Person('Ayaan', 21)

# p2 = p1

p1.age = 25

p1.sayHii()
p2.sayHii()

Diwakar 25
Ayaan 21